* {
  margin: 0;
  padding: 0;
  font-family: Roboto Slab;
}

.CircularProgressbar-path {
  stroke: white;
}
.CircularProgressbar-trail {
  stroke: black;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.header {
  width: 100%;
  position: fixed;
  height: 15vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.header .logo {
  padding-left: 100px;
}

.logo a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.navs {
  margin-right: 100px;
}

.navs ul {
  display: flex;
  gap: 30px;
}

.navs ul li {
  list-style: none;
}

.navs ul li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.navs ul li .icon {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

body {
  background: black;
}

.hero-section {
  width: 100%;
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper-slide img {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.swiper-slide .content {
  position: absolute;
  width: 100%;
  height: 100vh !important;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), black);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.content .main-content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: white;
  padding-left: 100px;
  padding-top: 200px;
}

.main-content h1 {
  font-size: 2rem;
  text-align: center;
  max-width: 80%;
  text-transform: uppercase;
  font-weight: 900;
}

.main-content p {
  max-width: 50%;
  font-size: 1.2rem;
  margin-top: 10px;
}

.upcoming-sect {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}

.upcoming-sect h1 {
  position: absolute;
  top: 50px;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.upcoming-main {
  position: relative;
  transition: 0.3s;
}

.upcoming-main img {
  width: 300px;
  height: 450px;
  cursor: pointer;
  margin-top: 50px;
  transition: 0.3s;
  border-radius: 10px;
}

.upcoming-main section {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: -20px;
}

.upcoming-main section p {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcoming-main:hover {
  transform: translateY(-20px);
}

.btn-explore {
  width: 300px;
  height: 60px;
  position: absolute;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.main-movie {
  width: 100%;
  height: 100vh;
  display: flex;
  color: white;
  background-size: cover !important;
}

.main-movie .top {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.main-movie .left {
  width: 40%;
  height: 100vh;
}

.main-movie .left img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
}

.main-movie .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.main-movie .right p {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.main-movie .right section {
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
